<footer>
    <div class="container-wrapper container-wrapper--blue">
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="footer-contact col-12 col-lg-5">
                        <h2 class="footer-h2">Contact</h2>
                        <p><i class="fa-solid fa-mobile-screen-button me-2"></i>0141 258 1868</p>
                        <p>
                            <i class="fa-regular fa-envelope me-2"></i>info@oishii-ramen.com
                        </p>
                        <p><a href="https://www.facebook.com/" target="_blank">
                                <i class="fa-brands fa-facebook me-2"></i>Like us on Facebook
                            </a></p>
                        <p><a href="www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram me-2"></i>Follow us on Instagram
                            </a>
                        </p>
                        <p><a href="https://www.twitter.com/" target="_blank">
                                <i class="fa-brands fa-twitter me-2"></i>Follow us on Twitter
                            </a>
                        </p>
                    </div>
                    <div class="footer-address col-12 col-lg-4">
                        <h2 class="footer-h2">Address</h2>
                        <p><i class="fa-solid fa-location-dot me-2"></i>
                            <br>1100 Pollokshaws Road
                            <br>Glasgow G41 3XA
                            <br>United Kingdom
                        </p>
                    </div>
                    <div class="footer-times col-12 col-lg-3">
                        <h2 class="footer-h2">Opening Times</h2>
                        <p>Mon: 12:00 - 10:00 PM
                            <br>Tue: 12:00 - 10:00 PM
                            <br>Wed: Closed
                            <br>Thu: 12:00 - 10:00 PM
                            <br>Fri: 12:00 - 10:00 PM
                            <br>Sat: 12:00 - 10:00 PM
                            <br>Sun: 4:00 - 10:00 PM</p>
                    </div>
                    <div class="footer-copyright col-12">
                        <p class="footer-copywrite-text">© Oishii Ramen 2023
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>