{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<div class="course-image d-none d-sm-block">
    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in course.featured_image.url %}
    <img src=" {% static 'images/placeholder.webp' %} " width="100%">
    {% else %}
    <img src=" {{ course.featured_image.url }}" width="100%">
    {% endif %}
</div>

<div class="content-container">

    <div class="row">
        <h1 class="course-title page-heading">Course: {{ course.title }}</h1>
        <div class="course-content col-8">
            <!-- The course content goes inside the course-content-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <p class="course-content-text ">
                {{ course.content | safe }}
            </p>
            <!-- only logged in users should see the booking panel -->
            {% if user.is_authenticated %}
        </div>
        <div class="booking-panel col-4">
            <form action="{% url 'course_book' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <!-- use drop-down controls so only valid values can be picked -->
                    <label class="form-label" for="TimetableFormControlSelect">Date and Time</label>
                    <select class="form-select" id="TimetableFormControlSelect" name="timetable_id">
                        {% for timeslot in course.timeslots.all %}
                        <option value="{{ timeslot.id }}">{{ timeslot.starts }}</option>
                        {% endfor %}
                    </select><br>
                    <label class="form-label" for="StudentsFormControlSelect">Number places to reserve:</label>
                    <select class="form-select student-select" id="StudentsFormControlSelect" name="places_reserved">
                        {% for x in "12345"|make_list %}
                        <option>{{ x }}</option>
                        {% endfor %}
                    </select>
                    <!-- disable the booking button if no upcoming courses are scheduled for this course -->
                    <button type="submit" class="btn btn-block btn-form btn-book"
                        {% if course.timeslots.all.count == 0 %} disabled {% endif %}>Book</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>


</div>

<div class="content-container">
    <br>
    <h3><i class="far fa-comments"></i> Reviews:</h3>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For loop inside the empty control tags to iterate through each review in reviews -->
                {% for review in reviews %}
                <div class="reviews" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The reviewer's name goes here. -->
                        {{ review.user }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The review's created date goes here -->
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The written review of the review goes before the | -->
                    {{ review.written_review | linebreaks }}
                </div>
                <!-- For loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if reviewed %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a review:</h3>
                <p>Posting as: {{ user.user }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}