{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="content-container">
    <div class="course-delete-form">
        <div class="row">
            <div class="col">
                <h3>Are you sure you want to delete this course?</h3>
                <form action="{% url 'course_delete' course.slug %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn button-styling">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}