{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<div class="course-image d-none d-sm-block">
    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in course.featured_image.url %}
    <img src=" {% static 'images/placeholder.webp' %} " width="100%">
    {% else %}
    <img src=" {{ course.featured_image.url }}" width="100%">
    {% endif %}
</div>

<div class="row course-detail-row content-container">
    <h1 class="course-title page-heading">Course: {{ course.title }}</h1>
    <div class="course-content col-12 col-lg-8">
        {% if course.skill_level == 0 %}
        <h2><span class="badge text-bg-primary">Beginner</span></h2>
        {% elif course.skill_level == 1 %}
        <h2><span class="badge text-bg-warning">Intermediate</span></h2>
        {% elif course.skill_level == 2 %}
        <h2><span class="badge text-bg-danger">Advanced</span></h2>
        {% endif %}
        <p class="card-text">
            Price: £{{ course.price_in_gbp.normalize }} per person<br>
            Course duration: {{ course.duration_in_hrs.normalize }} hrs
        </p>
        <!-- The course content goes inside the course-content-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <p class="course-content-text ">
            {{ course.content | safe }}
        </p>
        <!-- only logged in users should see the booking panel -->
        {% if user.is_authenticated %}
    </div>
    <div class="booking-panel-container col-12 col-lg-4">
        <div class="booking-panel">
            <form action="{% url 'course_book' %}" method="POST">
                {% csrf_token %}
                <div class="booking-form form-group">
                    <!-- use drop-down controls so only valid values can be picked -->
                    <label class="form-label" for="TimetableFormControlSelect">Date and Time</label>
                    <select class="form-select" id="TimetableFormControlSelect" name="timetable_id">
                        {% for timeslot in course.timeslots.all %}
                        <option value="{{ timeslot.id }}">{{ timeslot.starts }}</option>
                        {% endfor %}
                    </select><br>
                    <label class="form-label" for="StudentsFormControlSelect">Number places to reserve:</label>
                    <select class="form-select student-select" id="StudentsFormControlSelect" name="places_reserved">
                        {% for x in "12345"|make_list %}
                        <option>{{ x }}</option>
                        {% endfor %}
                    </select>
                    <!-- disable the booking button if no upcoming courses are scheduled for this course -->
                    <button type="submit" class="btn btn-block btn-form button-styling"
                        {% if course.timeslots.all.count == 0 %} disabled {% endif %}>Book</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="review-panel content-container">
    <div class="row review-panel-title">
        <h3><i class="far fa-comments"></i> Course Reviews:</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-8 card">
            <div class="card-body">
                <!-- For loop inside the empty control tags to iterate through each review in reviews -->
                {% for review in reviews %}
                <div class="reviews" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The reviewer's name goes here. -->
                        {{ review.user }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The review's created date goes here -->
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The written review of the review goes before the | -->
                    {{ review.written_review | linebreaks }}
                </div>
                <!-- For loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card">
            <div class="card-body">
                {% if reviewed %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a review:</h3>
                <p>Posting as: {{ user }}</p>
                <form method="post">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn button-styling">Post Review</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}