{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-container">
    <div class="booking-title">
        <h1 class="page-heading">Bookings Portal</h1>
        <p>Hello {{ user }}, this is your bookings portal!
            <br>From here you can view past and upcoming bookings, and amend or cancel any upcoming bookings.</p>
    </div>
    <div class="row page-header">
        <h2>Your Upcoming Courses</h2>
        <hr>
    </div>

    <div class="col card booking-card">
        <div class="card-body">
            <!-- display each of the upcoming (future) bookings for this user -->
            {% for booking in bookings %}
            <div class="booking-details">
                <div class="row">
                    <div class="col-lg-4 booking-image">
                        <a href="{% url 'course_detail' booking.course.course.slug %}" class="course-link">
                            <div class="col-auto booking-image">
                                {% if "placeholder" in booking.course.course.featured_image.url %}
                                <img src=" {% static 'images/placeholder.webp' %} " alt="Default course image">
                                {% else %}
                                <img src="{{ booking.course.course.featured_image.url }} " alt="Course image">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="col booking-summary col-lg-8">
                        <div class="row">
                            <a href="{% url 'course_detail' booking.course.course.slug %}" class="course-link">
                                <h4>{{ booking.course.course }}</h4>
                            </a>
                            <p>
                                Start time: {{ booking.course.starts }}<br>
                                Price: £{{ course.price_in_gbp}}<br>
                                Duration: {{ course.duration_in_hrs}} hrs
                            </p>
                        </div>
                        <div class="row booking-icons">
                            <div class="col-lg-auto">
                                {% if booking.places_reserved == 1 %}
                                <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                    {{ booking.places_reserved }}</p>
                                {% else %}
                                <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                    {{ booking.places_reserved }}</p>
                                {% endif %}
                            </div>
                            <div class="col-lg-auto">
                                {% if booking.approved %}
                                <p class="card-text text-muted h6"><i class="fas fa-check-circle"></i>
                                    Confirmed</p>
                                {% else %}
                                <p class="card-text text-muted h6"><i class="fas fa-question-circle"></i>
                                    Awaiting Confirmation</p>
                                {% endif %}
                            </div>
                            <div class="col-12 mt-4 cancel-button">
                                <form action="{% url 'course_mybookings' %}" method="POST">
                                    {% csrf_token %}
                                    <!-- ask the user to confirm when about to delete a booking -->
                                    <button type="submit" class="btn btn-form button-styling" value="{{booking.id}}"
                                        name="cancel_booking_id" onclick="return confirm('Are you sure?')">Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            You currently have no booking requests
            {% endfor %}
        </div>
    </div>

    <div class="row page-header">
        <h2>Your Past Courses</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col card">
            <div class="card-body">
                <!-- display each of the past bookings for this user - these cannot be deleted -->
                {% for booking in past_bookings %}
                <div class="booking-details booking-card">
                    <div class="row">
                        <div class="col-lg-4 booking-image">
                            <a href="{% url 'course_detail' booking.course.course.slug %}" class="course-link">
                                <div class="col-auto booking-image">
                                    {% if "placeholder" in booking.course.course.featured_image.url %}
                                    <img src=" {% static 'images/placeholder.webp' %} " alt="Default course image">
                                    {% else %}
                                    <img src="{{ booking.course.course.featured_image.url }} " alt="Course image">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="col booking-summary col-lg-8">
                            <div class="row">
                                <a href="{% url 'course_detail' booking.course.course.slug %}" class="course-link">
                                    <h4>{{ booking.course.course }}</h4>
                                </a>
                                <p>
                                    Start time: {{ booking.course.starts }}<br>
                                    Price: £{{ course.price_in_gbp }}<br>
                                    Duration: {{ course.duration_in_hrs }} hrs
                                </p>
                            </div>
                            <div class="row booking-icons">
                                <div class="col-auto">
                                    {% if booking.places_reserved == 1 %}
                                    <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                        {{ booking.places_reserved }}</p>
                                    {% else %}
                                    <p class="card-text text-muted h6"><i class="fas fa-user"></i>
                                        {{ booking.places_reserved }}</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if booking.approved %}
                                    <p class="card-text text-muted h6"><i class="fas fa-check-circle"></i>
                                        Confirmed</p>
                                    {% else %}
                                    <p class="card-text text-muted h6"><i class="fas fa-question-circle"></i>
                                        Awaiting Confirmation</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                You have no past booking requests
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}