{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="content-container">
    <div class="row">
        <h2>Edit Course:</h2>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-danger button-styling">Confirm</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger button-styling">Cancel</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}