{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Hero -->
<section class="hero-section">
    <div class="hero">
        <div class="about p-5 rounded-5">
            <h1 class="display-5">Japanese Culinary Courses</h1>
            <p class="m3 fs-4">with a specialty focus on traditional ramen</p>
            <p class="m-2 fs-5"><i class="fa-solid fa-location-dot"></i> Glasgow, Scotland
            </p>
            <button class="btn button-styling m-3" type="button">Sign Up Now</button>
        </div>
    </div>
</section>
<!-- /.hero -->

<!-- Course Summaries -->
<div class="content-container">
    <h1 class="page-heading">Courses</h1>
    <div class="row">
        {% for course in course_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in course.featured_image.url %}
                        <img class="card-img-top" src=" {% static 'images/placeholder.webp' %} "
                            alt="Default course image">
                        {% else %}
                        <img class="card-img-top" src=" {{ course.featured_image.url }}">
                        {% endif %}

                        <a href="{% url 'course_detail' course.slug  %}" class="course-link">
                            <h2 class="card-title course-title">{{ course.title }}</h2>
                        </a>
                        {% if course.skill_level == 0 %}
                        <h2><span class="badge text-bg-primary">Beginner</span></h2>
                        {% elif course.skill_level == 1 %}
                        <h2><span class="badge text-bg-warning">Intermediate</span></h2>
                        {% elif course.skill_level == 2 %}
                        <h2><span class="badge text-bg-danger">Advanced</span></h2>
                        {% endif %}
                        <p class="card-text">
                            Price: £{{ course.price_in_gbp.normalize }} <br>
                            Duration: {{ course.duration_in_hrs.normalize }} hrs
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% if is_paginated %}
<div class="content-container">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; BACK </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> MORE COURSES &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
</div>
<!-- /.course summaries-->
{%endblock%}